<div class="header">
    <h2>Panic, violence and crisis in Latin American prisons</h2>
    
</div>
<div class="content">
    <h6>The prison system in Latin America is in crisis. Failure to comply with the basic rights of prisoners results in riots and rebellions. The general situation is worrying and the political proposals for reform are conspicuous by their absence.</h6>
    <br>
    <br>
    

    <div class="card-group">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1548715855-9a4ed22bff0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Weapons</h5>
            <p class="card-text">The weapons enter, not only thanks to the complicity of prison guards who have been arrested in this attempt, but also by air and river.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://media.istockphoto.com/photos/hard-drugs-on-dark-table-picture-id538870696?s=612x612" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Drug</h5>
            <p class="card-text">The prison system in Ecuador has
                crossed by crises and profound changes,
                beginning with a penitentiary management without
                classification of those deprived of liberty, with
                centers where overcrowding, corruption
                and substance use was a practice
                daily, where the inmates held do not
                had a rehabilitation and insertion option
                society, being not only deprived of their liberty,
                but of their basic rights.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://marketplace.canva.com/fy-f0/MAEFqFfy-f0/1/s2/canva-sin-t%C3%ADtulo-MAEFqFfy-f0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Murders</h5>
            <p class="card-text">The latest figures for violent deaths published by the Ministry of Government reached 2,331 intentional homicides as of December 14. Among those numbers is Sebastián, an 11-year-old boy who died in the assault on an ice cream parlor in Guayaquil in mid-October. The statistics did not yet have another five-year-old minor who lost his life from a shot to the head in a crossroads of bullets on December 15 in a dangerous neighborhood of the same coastal city.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

</div>

